html,body{
  height: 100%;
  width: 100%;
  margin: 0;
}

body{
  background: #fff url(background.jpg) 0 0 no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #999;
  font-size: 56px;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0;
}

p{
  padding-top: 280px;
  text-align: center;
  color: #333;
}

a{
  text-align: center;
  display: block;
  width: 16px auto;
  color: #fff;
  text-decoration: none;
  border: 10px solid #fff;
  border-radius: 10px;
  padding: 8px 0;
}

a:hover{
  color: #000;
  background: #fff;
}
